/build-aux
*.o
/pigz
/unpigz
/pigzj
/pigzt
/pigzn
Makefile.in
Makefile
aclocal.m4
config*
lib/.deps/
lib/.dirstamp
lib/zopfli/.deps/
lib/zopfli/.dirstamp
src/.deps/
src/.dirstamp
lib/time.h
build-aux
autom4te.cache/
m4/
lib/libpigz.a

